* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}
:root {
  --main-bg-color: rgba(5, 8, 15, 0.97);
  --main-text-color: rgba(173, 199, 199, 0.925);
  --cont-bg-color: rgba(10, 10, 19, 0.72);
  --border-color-anim: rgba(51, 51, 148, 0.952);
  --bg-color-anim: rgba(7, 10, 49, 0.88);
  --bg-slider-anim: rgba(9, 10, 32, 0.486);
  --color-selection: #3b979e;
  font-size: 1.3vw;
}
@media all and (min-width: 770px) {
  .center {
    max-width: 75%;
  }
  :root {
    font-size: 1.03vw;
  }
}
::selection {
  background: var(--color-selection); /* Safari */
}
::-moz-selection {
  background: var(--color-selection); /* Firefox */
}
::-webkit-input-placeholder {
  color: rgb(162, 164, 146);
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
}
::-moz-placeholder {
  color: rgb(162, 164, 146);
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
} /* Firefox 19+ */
:-moz-placeholder {
  color: rgb(162, 164, 146);
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
} /* Firefox 18- */
:-ms-input-placeholder {
  color: rgb(162, 164, 146);
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
}
:focus::-webkit-input-placeholder {
  color: transparent;
}
:focus::-moz-placeholder {
  color: transparent;
}
:focus:-moz-placeholder {
  color: transparent;
}
:focus:-ms-input-placeholder {
  color: transparent;
}

::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 15px;
  height: 0;
}

::-webkit-scrollbar-track {
  background-color: #1a193b;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-image: linear-gradient(
    to bottom,
    rgb(32, 32, 165) 0%,
    rgb(62, 62, 134) 50%,
    rgb(189, 63, 63) 100%
  );
}

::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(
    to bottom,
    rgb(0, 0, 255) 0%,
    rgb(156, 93, 192) 50%,
    rgb(255, 0, 0) 100%
  );
}

::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 15px;
  height: 0;
}

::-webkit-scrollbar {
  width: 15px;
}
body {
  color: var(--main-text-color);
  font-family: "Open Sans", sans-serif;
  background: #100d1a url(../background.jpg) fixed no-repeat;
  background-size: cover;
}
a {
  color: var(--main-text-color);
  text-decoration: none;
}
li {
  list-style: none;
}
svg {
  shape-rendering: auto;
}
select {
  background-color: rgb(22, 24, 156);
}
header {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.center {
  background-color: var(--main-bg-color);
  max-width: 100%;
  margin: 0 auto;
}

.main {
  padding-top: 13rem;
}
.footer {
  margin-top: 15px;
  padding: 15px;
}
.right_content {
  width: 70%;
}
.left_content {
  width: 30%;
}

.content {
  margin-top: 25px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.block_content {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  transition: all 0.2s linear;
}
.content_item {
  position: relative;
  margin-right: auto;
  background-color: var(--cont-bg-color);
  display: flex;
  border-left: 5px solid transparent;
  flex-flow: row nowrap;
  margin: 15px 0;
  padding: 10px;
  transition: all 0.3s linear;
}
.cont_cent {
  padding: 0 15px;
}

.down_link {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 50px 0 5px 30px;
}
.name_game {
  height: 30%;
  margin: 5px auto;
  font-weight: lighter;
  font-size: 1.1rem;
}

.views {
  float: right;
  margin-bottom: 10px;
  margin-right: 15px;
  text-align: right;
}
.genre_item {
  float: left;
  margin-bottom: 5px;
}
.description {
  float: left;
  min-height: 60%;
}
.line_view {
  fill: none;
  stroke: #f2f2f2;
  margin-right: 8px;
}
.anim_view {
  height: 60px;
  fill: var(--main-text-color);
  stroke: var(--main-text-color);
  transition: all 0.2s linear;
}
.anim_view:hover {
  fill: rgba(36, 36, 182, 0.938);
  stroke: rgba(36, 36, 182, 0.938);
}
/* Button download content START*/
.btn_down {
  padding: 10px;
  border: 2px solid;
  background-color: #0c0c20ca;
  border-image: linear-gradient(0deg, #1515bbd8, #160ca0a8, #08076ed8);
  border-image-slice: 1;
  margin: 7px;
  transition: background-color 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
}
.btn_down:hover {
  background-color: #1212a880;
}
/* Button download content END */

/* Navigation button START*/
.btn_nav {
  position: fixed;
  bottom: 10px;
}
.btn_nav.top {
  right: 30px;
  transform: rotate(180deg);
}
.btn_nav.bottom {
  left: 30px;
}
/* Navigation button END*/

.info_item {
  position: relative;
  padding: 20px;
  width: 80%;
}
.item_value {
  margin-top: 15px;
}
.cat_title {
  padding: 10px 20px;
}
.categorie ul {
  padding: 10px 15px;
}
.cat_list {
  border-left: 3px solid transparent;
  padding: 5% 0 5% 6%;
  transition: all 0.3s linear;
}
#js_cat {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40%, 2fr));
  grid-gap: 0.5vw;
  position: relative;
}
.img_item {
  display: block;
  width: 100%;
  opacity: 0.7;
  transition: all 0.2s linear;
}
.img_item:hover {
  opacity: 1;
}
.img_block {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  overflow: hidden;
  width: 20%;
  text-align: center;
}
.copy {
  margin-top: 12px;
  text-align: center;
}
.cat_list:hover {
  background-color: var(--bg-color-anim);
  border-color: var(--border-color-anim);
}
/* table view start */
.table_content .content_item {
  width: 25%;
  border-left: none;
  border-bottom: 5px solid transparent;
}
.table_content .info_item {
  display: none;
}
.table_content .img_item {
  width: 95%;
}

.table_content .name_game {
  font-size: 1.13rem;
}
.table_content .img_block {
  width: 100%;
}
/* Table view end */
.content_item:hover {
  background-color: var(--bg-color-anim);
  border-color: var(--border-color-anim);
}

.title_categorie {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  min-height: 3.2em;
  background-color: var(--cont-bg-color);
  align-items: center;
  padding: 0 20px;
}
.rat_icon {
  font-size: 1.2em;
}
.slider {
  width: 97%;
  background-color: var(--cont-bg-color);
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
.slider__wrapper {
  display: flex;
  transition: transform 0.6s ease;
}

.slider__img {
  padding-top: 10px;
  width: 87%;
  height: 87%;
}

.slider__item {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 20%;
  flex: 0 0 25%;
}

.title_item {
  margin: 0 auto;
  text-align: center;
  margin: 5px 0;
}
.cent__item {
  margin: auto;
  text-align: center;
}

.second_item:hover {
  background-color: var(--bg-slider-anim);
}
.second_item {
  cursor: pointer;
  display: block;
  position: relative;
  text-transform: capitalize;
  width: 100%;
  transition: background-color 0.4s linear;
}

.second_item::after {
  backface-visibility: hidden;
  border: 2px solid transparent;
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.second_item:hover::after {
  backface-visibility: hidden;
  border-color: var(--border-color-anim);
  transition: width 350ms ease-in-out;
  bottom: auto;
  top: 0;
  width: 97%;
}

/* Slider button control START */
.slider__control {
  position: absolute;
  top: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6%;
  color: #fff;
  text-align: center;
  opacity: 0.2;
  height: 116%;
  transform: translateY(-57%);
  background: rgba(0, 0, 0, 0.5);
}
.slider__control:hover,
.slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}
.slider__control_left {
  left: 0;
}
.slider__control_right {
  right: 0;
}
.slider__control::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 10%;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}
.slider__control_left::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.slider__control_right::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
/* Slider button control END */

.wait_content {
  display: flex;
}
.wait__item {
  flex: 0 0 20%;
}
.wait {
  padding-left: 20px;
  margin: 0 0 5px 0;
}
.bottom_content {
  padding: 10px;
  background-color: var(--cont-bg-color);
}

/* Form Search item content */
.search_grid {
  margin-top: 11px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 3fr));
  grid-gap: 1vw;
}
.pub_year {
  grid-column-start: 1;
  grid-column-end: 4;
  margin: 15px 0 25px 0;
}
.btn_search {
  background-image: url("../asset/search.svg"),
    linear-gradient(to bottom, #0c0f17 0%, #191f2f 100%);
  grid-column-start: 3;
  text-align: left;
  width: 50%;
}
.btn_search:hover {
  border-color: #2b3458;
  background-image: url("../asset/search.svg"),
    linear-gradient(to bottom, #13161d 0%, #21293d 100%);
}
.select-css option {
  margin: 5px 3px;
  font-weight: 400;
  background-color: rgb(21, 19, 37);
}

.select-css {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='292.4' height='292.4'%3E%3Cpath fill='%23ddd' d='M287 69.4a17.6 17.6 0 0 0-13-5.4H18.4c-5 0-9.3 1.8-12.9 5.4A17.6 17.6 0 0 0 0 82.2c0 5 1.8 9.3 5.4 12.9l128 127.9c3.6 3.6 7.8 5.4 12.8 5.4s9.2-1.8 12.8-5.4L287 95c3.5-3.5 5.4-7.8 5.4-12.8 0-5-1.9-9.2-5.5-12.8z'/%3E%3C/svg%3E"),
    linear-gradient(to bottom, #0c0f17 0%, #191f2f 100%);
  background-size: 0.65em auto, 100%;
}
.select-css::-ms-expand {
  display: none;
}
.select-css:hover {
  border-color: #2b3458;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='292.4' height='292.4'%3E%3Cpath fill='%23ddd' d='M287 69.4a17.6 17.6 0 0 0-13-5.4H18.4c-5 0-9.3 1.8-12.9 5.4A17.6 17.6 0 0 0 0 82.2c0 5 1.8 9.3 5.4 12.9l128 127.9c3.6 3.6 7.8 5.4 12.8 5.4s9.2-1.8 12.8-5.4L287 95c3.5-3.5 5.4-7.8 5.4-12.8 0-5-1.9-9.2-5.5-12.8z'/%3E%3C/svg%3E"),
    linear-gradient(to bottom, #13161d 0%, #21293d 100%);
}
.select-css:focus {
  border-color: #444a82;
  box-shadow: 0 0 1px 1px rgba(42, 42, 43, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #86849b;
}

.select-css,
.btn_search {
  color: #a9a7a7;
  font-size: 1.05rem;
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  line-height: 1.3;
  border: 1px solid rgb(27, 26, 41);
  padding: 0.3em 0.7em 0.3em 0.8em;
  border-radius: 0.2em;
  font-weight: 600;
}

/* Search form header START */

.inner_header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: 1vw;
  background-image: linear-gradient(
    to right,
    rgba(93, 46, 75, 0.98) 0%,
    rgba(58, 58, 97, 0.98) 50%,
    rgba(47, 47, 47, 0.98) 100%
  );
  transition: all 0.3s;
}
.inner_header.header-shrink {
  font-size: 0.5vw;
}
.inner_header.header-shrink .search_icon {
  fill: transparent;
}
.icon_site {
  margin: 1em 3em;
  height: 9em;
}
#string,
#btn_string {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  height: 2.8em;
  font-size: 1rem;
  background-color: transparent;
}
.str_search {
  width: 50%;
  position: relative;
  margin: auto 5rem;
}
#string {
  border-bottom: 2px solid #af2828;
  padding: 0.7rem;
  width: 85%;
  font-family: "Open Sans", sans-serif;
  color: #b5b5b5;
  transition: border 0.2s;
}
#string:focus {
  border-color: #b4b4b4;
}
#btn_string {
  border: 2px solid #af2828;
  border-radius: 2rem;
  padding: 0.6rem;
  width: 15%;
  position: absolute;
  top: 0;
  right: -10px;
  cursor: pointer;
  transition: all 0.2s linear;
}
.search_icon {
  transition: all 0.2s linear;
}
#btn_string:hover {
  border-color: #b4b4b4;
}
#btn_string:hover .search_icon {
  fill: #b4b4b4;
}

/* Search form header END */
